# 1-1 Intro Python Practice
##  Getting started with Python in Jupyter Notebooks
### notebooks, comments, print(), type(), addition, errors and art

<font size="5" color="#00A0B2"  face="verdana"> <B>Student will be able to</B></font>
- use Python 3 in Jupyter notebooks
- write working code using `print()` and `#` comments  
- write working code using `type()` and variables
- combine strings using string addition (+)
- add numbers in code (+)
- troubleshoot errors
- create character art  

# &nbsp;
>**note:** the **[ ]** indicates student has a task to complete  
  
>**reminder:** to run code and save changes: student should upload or clone a copy of notebooks 

#### notebook use
- [ ] insert a **code cell** below   
- [ ] enter the following Python code, including the comment: 
```python 
# [ ] print 'Hello!' and remember to save notebook!
print('Hello!')
```
Then run the code - the output should be:  
`Hello!`

In [2]:
print("Hello!")

Hello!

#### run the cell below   
- [ ] use **Ctrl + Enter**  
- [ ] use **Shift + Enter**

In [3]:
print('watch for the cat')

watch for the cat

#### Student's Notebook editing
- [ ] Edit **this** notebook Markdown cell replacing the word "Student's" above with your name
- [ ] Run the cell to display the formatted text
- [ ] Run any 'markdown' cells that are in edit mode, so they are easier to read

#### [ ] convert \*this\* cell from markdown to a code cell, then run it  
print('Run as a code cell')

##  # comments
create a code comment that identifies this notebook, containing your name and the date

In [4]:
# this book is the Jupyter notebook from Julien Matuszak, updated on Oct 15

#### use print() to 
- [ ] print [**your_name**]
- [ ] print **is using python!**

In [6]:
# [x] print your name
print("Julien Matuszak")
# [x] print "is using Python"
print("is using Python!")

Julien Matuszak
is using Python!

Output above should be:  
`Your Name  
is using Python!`

#### use variables in print()
- [ ] create a variable **your_name** and assign it a string containing your name
- [ ] print **your_name**

In [ ]:
# [x] create a variable your_name and assign it a string containing your name
your_name = "Julien Matuszak"
#[x] print your_name
print(your_name)

#### create more string variables
- **[ ]** create variables as directed below
- **[ ]** print the variables

In [14]:
# [x] create variables and assign values for: favorite_song, shoe_size, lucky_number
favorite_song = "Patience"
shoe_size = "43"
lucky_number = "7"

# [x] print the value of each variable favorite_song, shoe_size, and lucky_number
print(favorite_song)
print(shoe_size)
print(lucky_number)

Patience
43
7

#### use string addition
- **[ ]**  print the above string variables (favorite_song, shoe_size, lucky_number) combined with a description by using **string addition**
>for example favorite_song displayed as:  
`favorite song is happy birthday`

In [15]:
# [x] print favorite_song with description
print(favorite_song + " from Guns'N'Roses")

# [x] print shoe_size with description
print(shoe_size + " = 10 in the US system")

# [x] print lucky_number with description
print(lucky_number + " : from the Bible")

Patience from Guns'N'Roses
43 = 10 in the US system
7 : from the Bible

##### more string addition
- **[ ]** make a single string (sentence) in a variable called favorite_lucky_shoe using **string addition** with favorite_song, shoe_size, lucky_number variables and other strings as needed 
- **[ ]** print the value of the favorite_lucky_shoe variable string
> sample output:  
`For singing happy birthday 8.5 times, you will be fined $25`

In [20]:
# assign favorite_lucky_shoe using
favorite_lucky_shoe = favorite_song + " " + shoe_size + " " + lucky_number

In [21]:
print(favorite_lucky_shoe)

Patience 43 7

### print() art

#### use `print()` and the asterisk **\*** to create the following shapes
- [ ] diagonal line  
- [ ] rectangle  
- [ ] smiley face

In [25]:
# [x] print a diagonal using "*"
print("*")
print(" *")
print("  *")
print("   *")
print("    *")

# [x] rectangle using "*"
print("*****")
print("*   *")
print("*   *")
print("*   *")
print("*****")

# [x] smiley using "*"
print(" ***** ")
print("* _ _ *")
print("*  |  *")
print("*\   /*")
print("* \_/ *")
print("*     *")
print(" *****")

*
 *
  *
   *
    *
*****
*   *
*   *
*   *
*****
 *****
* _ _ *
*  |  *
*\   /*
* \_/ *
*     *
 *****

#### Using `type()`
-**[ ]** calulate the *type* using `type()`

In [26]:
# [x] display the type of 'your name' (use single quotes)
type('your name')

str

In [27]:
# [x] display the type of "save your notebook!" (use double quotes)
type("save your notebook!")

str

In [28]:
# [x] display the type of "25" (use quotes)
type("25")

str

In [29]:
# [x] display the type of "save your notebook " + 'your name'
type("save your notebook" + 'your name')

str

In [30]:
# [x] display the type of 25 (no quotes)
type(25)

int

In [34]:
# [x] display the type of 25 + 10 
type(25 + 10)

int

In [32]:
# [x] display the type of 1.55
type(1.55)

float

In [33]:
# [x] display the type of 1.55 + 25
type(1.55 + 25)

float

#### Find the type of variables
- **[ ]** run the cell below to make the variables available to be used in other code
- **[ ]** display the data type as directed in the cells that follow

In [36]:
# assignments ***RUN THIS CELL*** before starting the section

student_name = "Gus"
student_age = 16
student_grade = 3.5
student_id = "ABC-000-000"

In [37]:
# [x] display the current type of the variable student_name
type(student_name)

str

In [38]:
# [x] display the type of student_age
type(student_age)

int

In [39]:
# [x] display the type of student_grade
type(student_grade)

float

In [40]:
# [x] display the type of student_age + student_grade
type(student_age + student_grade)

float

In [41]:
# [x] display the current type of student_id
type(student_id)

str

In [42]:
# assign new value to student_id 
student_id = 1

# [x] display the current of student_id
type(student_id)

int

#### number integer addition

- **[ ]** create variables (x, y, z) with integer values

In [43]:
# [x] create integer variables (x, y, z) and assign them 1-3 digit integers (no decimals - no quotes)
x = 1
y = 2
z = 3

- **[ ]** insert a **code cell** below
- **[ ]** create an integer variable named **xyz_sum** equal to the sum of x, y, and z
- **[ ]** print the value of **xyz_sum**

In [44]:
xyz_sum = x + y + z
print(xyz_sum)

6

### Errors
- **[ ]** troubleshoot and fix the errors below

In [45]:
# [x] fix the error 

print("Hello World!")

Hello World!

In [46]:
# [x] fix the error 
print('strings have quotes and variables have names')

strings have quotes and variables have names

In [47]:
# [ ] fix the error 
print( "I have $" + "5")

I have $5

In [48]:
# [ ] fix the error 
print("always save the notebook")

always save the notebook

## ASCII art
- **[ ]** Display first name or initials as ASCII Art
- **[ ]** Challenge: insert an additional code cell to make an ASCII picture

In [51]:
# [x] ASCII ART
print("_______   _    _ ")
print("    |    | \  / |")
print("    |    |  \/  |")
print("    |    |      |")
print("____/    |      |")

_______   _    _
    |    | \  / |
    |    |  \/  |
    |    |      |
____/    |      |

In [52]:
# [x] ASCII ART
print("|\___/|     _____________")
print("| .  .|    /I am Batman. |")
print("\   O |---/______________|")
print(" \___/ ")

|\___/|     _____________
| .  .|    /I am Batman. |
\   O |---/______________|
 \___/

[Terms of use](http://go.microsoft.com/fwlink/?LinkID=206977) &nbsp; [Privacy & cookies](https://go.microsoft.com/fwlink/?LinkId=521839) &nbsp; Â© 2017 Microsoft